#for local db fallback(optional)
DB_NAME=admin
DB_USER=admin
DB_PASSWORD=admin

NEON_DB_URL=

#for storage
R2_URL=
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_TOKEN=

# Prerequisite

#for llm
GOOGLE_API_KEY=

#vectordb
QDRANT_API_KEY=
QDRANT_URL=
